{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1>Bienvenue sur l'application de notes</h1>

{% if app.user %}
    <p>Vous êtes connecté. <a href="{{ path('note_index') }}">Voir vos notes</a></p>
{% else %}
    <p><a href="{{ path('app_login') }}">Se connecter</a> ou <a href="{{ path('app_register') }}">Créer un compte</a></p>
{% endif %}
{% endblock %}